@model List<Product>
<div class="container">
	<div class="row pt-4 pb-2 align-items-center">
		<div class="col-6">
			<h2 class="text-primary">Product List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Upsert" class="btn-dark btn">
				<i class="bi bi-plus-circle"></i> Create Product
			</a>
		</div>
	</div>
</div>

<table id="myTable" class="table table-bordered table-striped">
	<thead class="table-dark">
		<tr>
			<th>Book Name</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
</table>

@section Scripts{
	<script src="~/js/product.js"></script>
}